
.error-container {
    background: url('https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=600') center/cover fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .error-message {
    text-align: center;
    color: white;
  }
  
  .error-message h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .error-message p {
    font-size: 1.2em;
  }
  