<app-carousel></app-carousel>
<div class="container">
  <div class="row">
    <div *ngFor="let title of titles" class="col-3 text-align-left mt-5">
      <div class="card mb-4" style="width: 18rem;">
        <div class="card-content">
          <img [src]="title.imageURLString" class="card-img-top" alt="Title Image">
          <div class="card-body">
            <h5 class="card-title">{{ title.title }}</h5>
            <p class="card-text">{{ title.notes }}</p>
            <p class="card-price">Price: {{ title.price | currency:'INR'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
